
<div class="font-sans shadow bg-brand-600 dark:bg-brand-400">
  <div data-controller="reveal">
    <div class="container px-4 mx-auto">
      <div class="flex items-center justify-between py-4">
        <div class="flex items-center">
          <div class='text-gray-500'>
            <%= render 'elements/logo', klass: 'h-10 w-10 text-gray-500 opacity-30' %>
          </div>
          <div class="ml-2 text-3xl text-gray-500 font-display">
            Ben Wilson
            <span class='opacity-30'>Writes</span>
          </div>
        </div>

        <div class="hidden sm:flex sm:items-center">
          <%= render 'components/navbar-menu' %>
        </div>

        <div class="hidden sm:flex sm:items-center">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: button_css('gray') %>
            <% else %>
            <%= link_to 'Insiders', new_user_session_path, class: button_css('purple') %>
          <%end%>
        </div>

        <div class="cursor-pointer sm:hidden" data-action="click->reveal#toggle" >
          <%= render 'elements/menu-toggle', klass: 'h-10 w-10 text-gray-500' %>
        </div>
      </div>
      <div data-reveal-target="item" class="hidden py-2 border-t-2">
        <div class="flex flex-col">
          <%= render 'components/navbar-menu' %>
          <hr class='mb-2'>
          <%# if user_signed_in? %>
            <%#= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn bg-white text-brand-500' %>
          <%# else %>
            <%#= link_to 'Insiders', new_user_session_path, class: 'btn bg-indigo-100 hover:bg-white' %>
          <%#end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% flash.each do |type, msg| %>
  <%= render 'components/banner', type: type, msg: msg%>
<% end %>
