<%= render layout: 'books/layout', locals: {book: book, is_card: true} do %>
  <h3 class="my-6 text-3xl text-center lg:text-4xl font-display">
    <%= link_to book.title, book %>
  </h3>
  <div class="<%=t('css_prose')%>">
    <%= book.blurb.to_plain_text.truncate(160) %>
  </div>
  <aside class='mt-8 text-center'>
    <%= link_to 'Read More', book, class: button_css('purple') %>
    <%= render 'components/buy-cta', locals: {book: book} %>
  </aside>
<% end %>
