

<div class="max-w-2xl mx-auto">
    <% headline("Posts") %>
    <% if user_signed_in? %>
      <div class="mt-8">
      <%= link_to 'New Post', new_post_path, class: button_css('red') %>
      </div>
    <% end %>
    
    <%= render 'components/subscribe' %>

    <% @posts.each do |post| %>
      <article class="px-8 py-4 my-8 border rounded-lg shadow-lg">
        <aside class="text-center text-gray-500 opacity-75"><%= post.published_at.strftime('%d %B %Y') %></aside>
        <%= h2(post.title, "text-center mt-2 mb-4") %>
        <p class='prose lg:prose-xl dark:prose-dark'><%= post.content.to_plain_text.truncate(256) %></p>
        <p class='my-4 text-center'><%= link_to 'Read More', post, class: button_css('purple') %></p>
      </article>
    <% end %>
</div>
