<article class="<%=t('css_article')%>">
<p id="notice"><%= notice %></p>
<aside class="text-center text-gray-500 opacity-75"><%= @post.published_at.strftime('%d %B %Y') %></aside>
<div class="text-center"><%= headline(@post.title) %></div>

<section class="mb-12 font-serif prose max-w-prose lg:prose-xl">
<%= @post.content %>
</section>

<%= render 'components/subscribe' %>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post), class: button_css('blue') %> |
<% end %>
</article>
